@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: #fff;
}
body{
  background-color: #111;
}
#tasklist::-webkit-scrollbar{
  display: none;
}
#createTask::-webkit-scrollbar{
  display: none;
}
#allTask::-webkit-scrollbar{
  display: none;
}